.footer {
  background-color: var(--purple);
  color: var(--title-color);
  text-align: center;
  padding: 10px 0;
  margin-top: auto; /* Ensures the footer stays at the bottom */
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}
